@charset "utf-8";
/* CSS Document */

html {
	background:url(../img/fon.png) repeat;
	font-family:Verdana, Geneva, sans-serif;
}
body {
	width:950px;
	margin:0 auto;
	position:relative;
	background:#fff;
	padding:21px 55px 0;
}
	.left-body-shadow {
		background:url(../img/left-body-shadow.png) repeat-y;
		position:absolute;
		height:100%;
		width:9px;
		top:0;
		left:-9px;
	}
	.right-body-shadow {
		background:url(../img/right-body-shadow.png) repeat-y;
		position:absolute;
		height:100%;
		width:9px;
		top:0;
		right:-9px;
	}
.stop-float {
	clear:both;
}
/*-----  HEADER -----*/

.head {
	padding:119px 0 0 0;
}
	.head  .logo {
		position:absolute;
		left:62px;
		top:21px;
	}
	a.header-shop {
		position:absolute;
		left:345px;
		top:27px;
		background:url(../img/magazin.png) no-repeat left top;
		display:block;
		font-family:Verdana, Geneva, sans-serif;
		font-size:14px;
		color:#336699;
	}
	a:hover.header-shop {
		background:url(../img/magazin-active.png) no-repeat left top;
		color:#993333;		 
	}
		.header-shop-block {
			width:105px;
			height:73px;
			padding: 17px 0 0 124px;
		}
	.header-links {
		left: 615px;
   		position: absolute;
    	top: 20px;
	}
		.header-links-icon {
		}
			.header-links-icon img{
				margin:0 7px 0 0;
			}
		.header-moscav-phone {
			color: #333333;
			font-family: Georgia,"Times New Roman",Times,serif;
			font-size: 14px;
			line-height: 18px;
			margin: 9px 0 0;
		}
			.header-moscav-phone span {
				font-family:Georgia, "Times New Roman", Times, serif;
				font-size:20px;
				color:#255290;
			}
	.header-time {
		position:absolute;
		left:805px;
		top:21px;
	}
		.header-time-block {
			border-left:1px solid #eee;
			padding: 6px 0 5px 10px;
			font-family:Verdana, Geneva, sans-serif;
			font-size:11px;
			color:#ccc;
		}
			.header-time-block img{
				margin: 0 10px 0 0;
			}
			.header-time-block span{
				line-height: 16px;
			}
		.header-krasnodar-phone {
			color: #333333;
			font-family: Georgia,"Times New Roman",Times,serif;
			font-size: 14px;
			line-height: 18px;
			margin: 13px 0 0 13px;
		}
			.header-krasnodar-phone span {
				font-family:Georgia, "Times New Roman", Times, serif;
				font-size:20px;
				color:#255290;
				
			}
	.top_menu {
		position:relative;
		border: 1px solid #CCCCCC;
		height: 38px;
		position: relative;
	}
		.menu-left-border {
			position:absolute;
			background:url(../img/menu-left-bg.jpg) no-repeat left top;			
			height:40px;
			width:5px;
			top:-1px;
			left:-1px;
		}
		.menu-right-border {
			position:absolute;
			background:url(../img/menu-right-bg.jpg) no-repeat right top;			
			height:40px;
			width:5px;
			top:-1px;
			right:-1px;
		}
		.top_menu-home {
			position:absolute;
			top:-1px;
			left:9px;
		}
			.top_menu-home a {
				width:20px;
				height:36px;
				display:block;
				background:url(../img/home.png) no-repeat top;
			}
			.top_menu-home a:hover {
				background:url(../img/home-active.png) no-repeat top;
			}				
		.top_menu-left {
			left: 30px;
			position: absolute;
			top: 0;
			margin:2px 0 0 0;	
		}
		.top_menu-right {
			position:absolute;
			left:749px;
			border-left:1px solid #eee;
			margin:5px 0;
			font-size:11px;
			color:#333;
			font-family:Verdana, Geneva, sans-serif;
			width:195px;
		}
		.top_menu-right span {
			position: absolute;
    		top: -3px;
		}
			.top_menu-right img {
				padding: 3px 6px 0 11px;
			}
			.top_menu-right a {
			}
			
/*----- slider -----*/			
.slider-wrapper.theme-default {
	margin:40px 0 0 0;
	position:relative;
}
h1{
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:40px 0 40px;
}
h2{
	font-family:Georgia, "Times New Roman", Times, serif;
}
h3{
	font-family:Georgia, "Times New Roman", Times, serif;
}
#floright a { text-decoration:none; }
#floright #page-wrap { margin:auto; }

/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }
#floright #floright #example-one { padding: 10px; margin: 0 0 20px 0;}
#floright #example-one .nav { overflow: hidden; margin: 0 0 10px 0; display:block;  }
#floright #example-one .nav li {  float: left; margin: 0 10px 0 0;}
#floright #example-one .nav li.last { margin-right: 0; }
#floright #example-one .nav li a {  padding: 5px; color:#369; font-size: 10px; text-align: center; border: 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
#floright #example-one ul { list-style: none; }
#floright #example-one ul li.nav-one a.current, #floright #example-one ul.featured li a:hover {color:#933; }
#floright #example-one ul li.nav-two a.current, #floright #example-one ul.core li a:hover {color:#933; }
#floright #example-one ul li.nav-three a.current, #floright #example-one ul.jquerytuts li a:hover {color:#933; }
/* Specific to example two */
#floright #example-one { padding: 10px; margin: 0 0 20px 0;}
#example-two .nav { overflow: hidden; margin: 0 0 10px 0; display:block;  }
#example-two .nav li {  float: left; margin: 0 10px 0 0;}
#example-two .nav li.last { margin-right: 0; }
#example-two .nav li a {  padding: 5px; color:#369; font-size: 10px; text-align: center; border: 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-decoration:none;}
#example-two ul { list-style: none; }
#example-two ul li.nav-one a.current, #floright #example-one ul.featured li.nav-one:hover {color:#933;}
#example-two ul li.nav-two a.current, #floright #example-one ul.core li a:hover {color:#933; }
#example-two ul li.nav-three a.current, #floright #example-one ul.jquerytuts li a:hover {color:#933; }
#example-two ul li.nav-four a.current, #floright #example-one ul.jquerytuts li a:hover {color:#933; }
#example-two ul li.last a.current, #floright #example-one ul.jquerytuts li a:hover {color:#933; }
#example-one .nav-one{
	width:128px;
	background:url(../img/Shape%2021.png);
	height:23px;
	line-height:23px;
	background-position:center;
	text-align:center;
}
#example-one .nav-two{
	background:url(../img/Shape%2023.png);
	height:23px;
	width:107px;
	background-position:center;
	line-height:23px;
	text-align:center;
}
#example-one .nav-three{
	background:url(../img/Shape%2024.png);
	height:23px;
	width:76px;
	background-position:center;
	line-height:23px;
	text-align:center;
}
#featured{
	width:420px;
	font-size:12px;
	color:#333;
}
#example-two .nav .nav-wone{
	margin:0 30px 0 -20px;
	height:26px;
	padding-top:3px;
}
#example-two .nav-one{
	width:66px;
	background:url(../img/white.png);
	height:26px;
	line-height:24px;
	background-position:center;
	text-align:center;
}
#example-two .nav-two{
	width:66px;
	background:url(../img/white.png);
	height:26px;
	line-height:24px;
	background-position:center;
	text-align:center;
}
#example-two .nav-three{
	width:66px;
	background:url(../img/white.png);
	height:26px;
	line-height:24px;
	background-position:center;
	text-align:center;
}
#example-two .nav-four{
	width:66px;
	background:url(../img/white.png);
	height:26px;
	line-height:24px;
	background-position:center;
	text-align:center;
}
#example-two .last{
	width:133px;
	background:url(../img/whitecopy.png);
	height:26px;
	line-height:24px;
	background-position:center;
	text-align:center;
}
#right #core{
	width:420px;
	font-size:12px;
	margin-top:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	line-height:16px;
}
#core a:hover{
	color:#933;
}
#jquerytuts{
	width:420px;
	font-size:12px;
}
#line{
	margin-left:270px;
	margin-bottom:20px;
}
.flo{
	width:310px;
	height:125px;
	font-size:11px;
}
.content #right .flo span{
	color:#ccc;
	font-size:10px;
}
.content #right .flo a{
	text-decoration:underline;
}
.content #right a:hover{
	color:#933;
}
.content .rightlast a:hover{
	color:#933;
}
.content .rightlastl a:hover{
	color:#933;
}
#menuleft{
	float:left;
	width:240px;
	height:270px;
	text-align:right;
	line-height:25px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
}

#menuleft img{
	margin-left:6px;
}
#menuleft a{
	color:#369;
}
#menuleft a:hover{
	color:#933;
}
#menuleft a:visited{
	text-decoration:none;
	color:#000;
}
#menuleft span a{
	color:#666;
}
#vn{
	line-height:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#666;
	margin-right:30px;
}
#menuleft span a:active{
	color:#933;
}
#menuleft span a:visited{
	text-decoration:none;
	color:#000;
}
#menuleft a:hover{
	color:#933;
}
a:hover{
	color:#933;
}
.content{
	text-align:center;
	color:#333;
}
.content span{
	color:#369;
}
#right{
	margin-left:40px;
	float:right;
	width:670px;
	font-size:11px;
	text-align:left;
}
#floleft{
	float:left;
	width:260px;
	height:300px;
	margin-left:-20px;
}
#floright{
	float:right;
	width:420px;
}
#example-two{
	float:right;
	width:700px;
}
#nad{
	height:14px;
	font-size:10px;
	color:#999;
	border-bottom:solid 1px #999;
	width:700px;
}
#c1{
	height:60px;
	line-height:50px;
	font-size:11px;
	border-bottom:solid 1px #999;
}
.zakaz1{
	height:110px;
	border-bottom:dotted 1px #999;
}
.rightlast{
	float:right;
	width:670px;
	border-bottom:dotted 1px #999;
	height:260px;
}
.rightlast h3{
	text-align:left;
}
.rightlastl{
	float:right;
	width:670px;
	font-size:12px;
	text-align:left;
}
.tovleft{
	width:150px;
	height:160px;
	float:left;
	font-size:11px;
}
.tovleft img{
	width:140px;
	border:solid 1px #eee;
}
.leftj{
	text-align:left;
	height:70px;
	margin-top:20px;
}
.content #example-two .list-wrap .leftj span{
	font-size:11px;
	color:#333;
}
#footer{
	width:980px;
	height:200px;
	margin:980px 0 0 -40px;
	font-size:11px;
	background:url(../img/footer.png) no-repeat;
	padding:40px 40px 0 40px;
	font-family:Verdana, Geneva, sans-serif;
}
#footer span a{
	margin:10px 0 10px 0;
	color:#369;
}
.footerl{
	float:left;
	font-size:11px;
	width:180px;
	margin-left:40px;
	color:#4c4c4c;
	height:190px;
}
span.fut{
	color:#4c4c4c !important;
	line-height:20px;
}
.ico{
	float:left;
	margin-left:6px;
}
.ico.first{
	margin-left:0px;
}
.center{
	width:240px;
	float:left;
	border-left:solid 1px #eee;
	padding-left:20px;
	height:190px;
}
#footer p{
	font-size:14px;
}
#footer span{
	font-size:14px;
	color:#255290;
}
.footerr{
	float:left;
	border-left:solid 1px #eee;
	height:190px;
	padding-left:20px;
	margin-left:-10px;
	width:180px;
}
#superfoot{
	margin:0px auto 0;
	border-top:dotted 1px #ccc;
	line-height:40px;
	height:40px;
	color:#696a6b;
	font-size:12px;
}
#superfoot img{
	float:right;
}
.footerl p{font-size:12px !important;}
#footer a:hover{
	color:#933;
}
#footer span a:hover{
	color:#933;
}
#footer a:visited{
	color:#800080;
}
#footer .punkt a{
	font-size:11px;
	text-decoration:none;
	color:#666;
}
#footer .punkt{
	color:#666;
}
/* Это навигация сайта прям под шапкой*/
#proBAH{
	position:absolute;
	left:60px;;
	top:180px;;
	font-size:10px;
	color:#255290;
}
#proBAH a{
	color:#255290;
}
#proBAH a:hover{
	color:#933;
}